<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "zh2.jpg" %>
  </div>
  
  <div id="content">
    <h1> Waddup! The name is Zuri Hunter </h1>
    <p>Welcome to My Struggle</p>
    <p>I shall be taking on the Mackenzie challenge where I build 12 different apps in a matter of 12 weeks using our lovely Ruby on Rails. I am not yet considered a beginner but then I am not yet considered an expert. My goal is to get a better understanding of MVC concept and the components that combines everything all together.</p>
    <p>If you would like to view my cries and complaints on this beautiful process follow me on Twitter! <a href="http://twitter.com/zurihunter">@ZuriHunter</a> or to view the source code you can view my github account <a href="https://github.com/ZuriHunter">Zuri's GitHub</a></p>
  </div>
</div>